<!doctype html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,compte-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="msapplication-tap-highlight" content="no"/>

    <link rel="icon" type="image/png" href="../assets/img/favicon-16x16.png" sizes="16x16"/>
    <link rel="icon" type="image/png" href="../assets/img/favicon-32x32.png" sizes="32x32"/>

    <title>E_Voting</title>
<link href="../customcss/bootstrap.min.css" rel="stylesheet"/><!-- add -->
<link href="../customcss/sweetalert.css" rel="stylesheet"/><!-- add -->
    <!-- additional styles for plugins -->
        <!-- weather icons -->
        <link rel="stylesheet" href="../bower_components/weather-icons/css/weather-icons.min.css" media="all"/>
        <!-- metrics graphics (charts) -->
        <link rel="stylesheet" href="../bower_components/metrics-graphics/dist/metricsgraphics.css"/>
        <!-- chartist -->
        <link rel="stylesheet" href="../bower_components/chartist/dist/chartist.min.css"/>
    
    <!-- uikit -->
    <link rel="stylesheet" href="../bower_components/uikit/css/uikit.almost-flat.min.css" media="all"/>

    <!-- flag icons -->
    <link rel="stylesheet" href="../assets/icons/flags/flags.min.css" media="all"/>

    <!-- altair admin -->
    <link rel="stylesheet" href="../assets/css/main.min.css" media="all"/>

    <!-- matchMedia polyfill for testing media queries in JS -->
    <!--[if lte IE 9]>
        <script type="text/javascript" src="bower_components/matchMedia/matchMedia.js"></script>
        <script type="text/javascript" src="bower_components/matchMedia/matchMedia.addListener.js"></script>
    <![endif]-->

</head>
<body class=" sidebar_main_open sidebar_main_swipe">
    <!-- main header -->
    <header th:replace="fragmentsAdmin/topbar :: topbar">...</header>
 <!-- main header end -->
    <!-- main sidebar -->
     <aside th:replace="fragmentsAdmin/sidebar :: sidebar">...</aside>
<!-- main sidebar end -->
<!-- page content -->
<div id="page_content">
        <div id="page_content_inner">

           


            <h4 class="heading_a uk-margin-bottom">Tabletools</h4>
            
            <div class="md-card uk-margin-medium-bottom">
                <div class="md-card-content">
                <a class="md-btn md-btn-success" href="#" onclick="newElection()">Nouvelle
							Election</a>
                    <table id="dt_tableTools" class="uk-table" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                           	<th>Id</th>
							<th>Date</th>
							<th>Heure_deb</th>
							<th>Heure_fin</th>
							<th>Type</th>
							<th>Etat</th>
							
							<th>Edit / Delete</th>
                        </tr>
                        </thead>

                        <tfoot>
                        <tr>
                           	<th>Id</th>
							<th>Date</th>
							<th>Heure_deb</th>
							<th>Heure_fin</th>
							<th>Type</th>
							<th>Etat</th>
							
							<th>Edit / Delete</th>
                        </tr>
                        </tfoot>

                        <tbody>
                        <tr th:each="cb,iterStat : ${elections}">
							<td><span th:text="${iterStat.count}">1</span></td>
							<td th:id="'id_election' + ${cb.id_election}" th:text="${cb.id_election}"></td>
							<td th:id="'date' + ${cb.date}" th:text="${cb.date}"></td>
							<td th:id="'heure_deb' + ${cb.heure_deb}" th:text="${cb.heure_deb}"></td>
							<td th:id="'heure_fin' + ${cb.heure_fin}" th:text="${cb.heure_fin}"></td>
							<td th:id="'type' + ${cb.type}" th:text="${cb.type}"></td>
							<td th:id="'etat' + ${cb.etat}" th:text="${cb.etat}"></td>
							<td th:id="${cb.id_election}">
								<a href="#" onclick="loadElection(this)" data-toggle="tooltip" data-original-title="Edit">
									<i class="md-icon material-icons" data-toggle="modal" data-target="#edit-compte-modal">&#xE150;</i>
								</a> &nbsp;
								<a href="#" onclick="deleteElection(this)" data-toggle="tooltip" data-original-title="Delete">
									<i class="md-icon material-icons">&#xE5CD;</i>
								</a>
							</td>
						</tr>
   
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    
    <!-- edit compte modal content : start -->
				<div id="edit-election-modal" class="modal fade" tabindex="-1"
					role="dialog" aria-labelledby="myModalLabel" style="display: none;"
					aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true">×</button>
								<h4 class="modal-title">Modifier Election</h4>
							</div>
							<form id="election-edit-form" method="post">
								<div class="modal-body">
									<div class="form-group">
									<input type="hidden" name="id_election" id="id_electionEdit">
										<label for="dateEdit" class="control-label">
										Date:</label> <input type="date" class="form-control"
											id="dateEdit" name="date" required
											aria-invalid="false">
									</div>
									<div class="form-group">
										<label for="debEdit" class="control-label">heure debut:
											</label> <input type="text" class="form-control"
											id="debEdit" name="deb" required 
											aria-invalid="false">
									</div>
									
									<div class="form-group">
										<label for="debEdit" class="control-label">heure fin:
											</label> <input type="text" class="form-control"
											id="debEdit" name="deb" required 
											aria-invalid="false">
									</div>
									<div class="form-group">
										<label for="debEdit" class="control-label">heure de debut:
											</label> <input type="text" class="form-control"
											id="debEdit" name="deb" required 
											aria-invalid="false">
									</div>

									
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default waves-effect"
										data-dismiss="modal">Annuler</button>
									<button id="save-edit" type="submit"
										class="btn btn-danger waves-effect waves-light">Enregistrer les modifications</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- edit compte modal content : end -->
				
				<!-- new compte modal content : start -->
				<div id="new-compte-modal" class="modal fade" tabindex="-1"
					role="dialog" aria-labelledby="myModalLabel" style="display: none;"
					aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true">×</button>
								<h4 class="modal-title">Nouveau Compte</h4>
							</div>
							<form id="compte-new-form" method="post">
								<div class="modal-body">
									<div class="form-group">
										<label for="client" class="control-label">Client
									 :</label> <input type="text" class="form-control"
											id="client" name="client" required minlength="2"
											aria-invalid="false">
									</div>
									<div class="form-group">
										<label for="solde" class="control-label">Solde
											:</label> <input type="text" class="form-control"
											id="solde" name="solde" required minlength="1"
											aria-invalid="false">
									</div>		
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default waves-effect"
										data-dismiss="modal">Annuler</button>
									<button id="save-compte" type="submit"
										class="btn btn-danger waves-effect waves-light">Ajouter</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				
				<!-- new compte modal content : end -->
				
				
<!-- page content end -->
<!-- secondary sidebar -->
    <!-- secondary sidebar end -->

    <!-- google web fonts -->
    <script>
        WebFontConfig = {
            google: {
                families: [
                    'Source+Code+Pro:400,700:latin',
                    'Roboto:400,300,500,700,400italic:latin'
                ]
            }
        };
        (function() {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>
 <div th:replace="fragmentsAdmin/footer :: footer">...</div>
<script>
        WebFontConfig = {
            google: {
                families: [
                    'Source+Code+Pro:400,700:latin',
                    'Roboto:400,300,500,700,400italic:latin'
                ]
            }
        };
        (function() {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>
 <script src="../assets/jquery/jquery-3.3.1.min.js"></script>
    <!-- common functions -->
    <script src="../assets/js/common.min.js"></script>
    <!-- uikit functions -->
    <script src="../assets/js/uikit_custom.min.js"></script>
    <!-- altair common functions/helpers -->
    <script src="../assets/js/altair_admin_common.min.js"></script>

    <!-- page specific plugins -->
    <!-- datatables -->
    <script src="../bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <!-- datatables colVis-->
    <script src="../bower_components/datatables-colvis/js/dataTables.colVis.js"></script>
    <!-- datatables tableTools-->
    <script src="../bower_components/datatables-tabletools/js/dataTables.tableTools.js"></script>
    <!-- datatables custom integration -->
    <script src="../assets/js/custom/datatables_uikit.min.js"></script>

    <!--  datatables functions -->
    <script src="../assets/js/pages/plugins_datatables.min.js"></script>
    
    <script>
        $(function() {
            // enable hires images
            altair_helpers.retina_images();
            // fastClick (touch devices)
            if(Modernizr.touch) {
                FastClick.attach(document.body);
            }
        });
    </script>


    <div id="style_switcher">
        <div id="style_switcher_toggle"><i class="material-icons">&#xE8B8;</i></div>
        <div class="uk-margin-medium-bottom">
            <h4 class="heading_c uk-margin-bottom">Colors</h4>
            <ul class="switcher_app_themes" id="theme_switcher">
                <li class="app_style_default active_theme" data-app-theme="">
                    <span class="app_color_main"></span>
                    <span class="app_color_accent"></span>
                </li>
                <li class="switcher_theme_a" data-app-theme="app_theme_a">
                    <span class="app_color_main"></span>
                    <span class="app_color_accent"></span>
                </li>
                <li class="switcher_theme_b" data-app-theme="app_theme_b">
                    <span class="app_color_main"></span>
                    <span class="app_color_accent"></span>
                </li>
                <li class="switcher_theme_c" data-app-theme="app_theme_c">
                    <span class="app_color_main"></span>
                    <span class="app_color_accent"></span>
                </li>
                <li class="switcher_theme_d" data-app-theme="app_theme_d">
                    <span class="app_color_main"></span>
                    <span class="app_color_accent"></span>
                </li>
                <li class="switcher_theme_e" data-app-theme="app_theme_e">
                    <span class="app_color_main"></span>
                    <span class="app_color_accent"></span>
                </li>
                <li class="switcher_theme_f" data-app-theme="app_theme_f">
                    <span class="app_color_main"></span>
                    <span class="app_color_accent"></span>
                </li>
                <li class="switcher_theme_g" data-app-theme="app_theme_g">
                    <span class="app_color_main"></span>
                    <span class="app_color_accent"></span>
                </li>
            </ul>
        </div>
        <div class="uk-visible-large uk-margin-medium-bottom">
            <h4 class="heading_c">Sidebar</h4>
            <p>
                <input type="checkbox" name="style_sidebar_mini" id="style_sidebar_mini" data-md-icheck />
                <label for="style_sidebar_mini" class="inline-label">Mini Sidebar</label>
            </p>
        </div>
        <div class="uk-visible-large">
            <h4 class="heading_c">Layout</h4>
            <p>
                <input type="checkbox" name="style_layout_boxed" id="style_layout_boxed" data-md-icheck />
                <label for="style_layout_boxed" class="inline-label">Boxed layout</label>
            </p>
        </div>
    </div>

    <script>
        $(function() {
            var $switcher = $('#style_switcher'),
                $switcher_toggle = $('#style_switcher_toggle'),
                $theme_switcher = $('#theme_switcher'),
                $mini_sidebar_toggle = $('#style_sidebar_mini'),
                $boxed_layout_toggle = $('#style_layout_boxed'),
                $body = $('body');


            $switcher_toggle.click(function(e) {
                e.preventDefault();
                $switcher.toggleClass('switcher_active');
            });

            $theme_switcher.children('li').click(function(e) {
                e.preventDefault();
                var $this = $(this),
                    this_theme = $this.attr('data-app-theme');

                $theme_switcher.children('li').removeClass('active_theme');
                $(this).addClass('active_theme');
                $body
                    .removeClass('app_theme_a app_theme_b app_theme_c app_theme_d app_theme_e app_theme_f app_theme_g')
                    .addClass(this_theme);

                if(this_theme == '') {
                    localStorage.removeItem('altair_theme');
                } else {
                    localStorage.setItem("altair_theme", this_theme);
                }

            });

            // hide style switcher
            $document.on('click keyup', function(e) {
                if( $switcher.hasClass('switcher_active') ) {
                    if (
                        ( !$(e.target).closest($switcher).length )
                        || ( e.keyCode == 27 )
                    ) {
                        $switcher.removeClass('switcher_active');
                    }
                }
            });

            // get theme from local storage
            if(localStorage.getItem("altair_theme") !== null) {
                $theme_switcher.children('li[data-app-theme='+localStorage.getItem("altair_theme")+']').click();
            }


        // toggle mini sidebar

            // change input's state to checked if mini sidebar is active
            if((localStorage.getItem("altair_sidebar_mini") !== null && localStorage.getItem("altair_sidebar_mini") == '1') || $body.hasClass('sidebar_mini')) {
                $mini_sidebar_toggle.iCheck('check');
            }

            $mini_sidebar_toggle
                .on('ifChecked', function(event){
                    $switcher.removeClass('switcher_active');
                    localStorage.setItem("altair_sidebar_mini", '1');
                    location.reload(true);
                })
                .on('ifUnchecked', function(event){
                    $switcher.removeClass('switcher_active');
                    localStorage.removeItem('altair_sidebar_mini');
                    location.reload(true);
                });


        // toggle boxed layout

            // change input's state to checked if mini sidebar is active
            if((localStorage.getItem("altair_layout") !== null && localStorage.getItem("altair_layout") == 'boxed') || $body.hasClass('boxed_layout')) {
                $boxed_layout_toggle.iCheck('check');
                $body.addClass('boxed_layout');
                $(window).resize();
            }

            // toggle mini sidebar
            $boxed_layout_toggle
                .on('ifChecked', function(event){
                    $switcher.removeClass('switcher_active');
                    localStorage.setItem("altair_layout", 'boxed');
                    location.reload(true);
                })
                .on('ifUnchecked', function(event){
                    $switcher.removeClass('switcher_active');
                    localStorage.removeItem('altair_layout');
                    location.reload(true);
                });


        });
    </script>   
   
	<script src="../customjs/bootstrap.min.js"></script>  <!-- add -->
	<!--  rename form-inline in bootstrap.min.css -->
	<!--  delete script in footer -->
	<script src="../customjs/sweetalert.js"></script> <!-- add --> 
    <script src="../customjs/comptes.js"></script>
</body>
</html>